body {

background-color: aqua;
color: black;
font-family: Arial, Helvetica, sans-serif






}








header {

background-color:blueviolet ;
color: black;
text-align: center;
font-size: 35px;




}